#br {
	.set(@val) {
		border-radius: @val;
	}

	.none() {
		border-radius: 0;
	}

	._25() {
		border-radius: 25%;
	}

	._50() {
		border-radius: 50%;
	}

	.diag(@tr-bl; @tl-br) {
		border-radius: @tr-bl @tl-br;
	}

	.tb-lr(@tb; @lr) {
		border-radius: @tb ~'/'@lr;
	}

	
}