#br {
	.by-h(@h, @mod: .5) {
		border-radius: (@h * @mod);
	}

	.inner(@or; @dist) when ((@or - @dist) > 0) {
		border-radius: (@or - @dist); 
	}

	.outer(@ir; @dist) {
		border-radius: (@ir + @dist); 
	}
}