#br {
	.tl(@val) {
		border-top-left-radius: @val;
	}

	.tr(@val) {
		border-top-right-radius: @val;
	}

	.bl(@val) {
		border-bottom-left-radius: @val;
	}

	.br(@val) {
		border-bottom-right-radius: @val;
	}
}