#br {
	.top(@val) {
		border-radius: @val @val 0 0;
	}

	.right(@val) {
		border-radius: 0 @val @val 0;
	}

	.bottom(@val) {
		border-radius: 0 0 @val @val;
	}

	.left(@val) {
		border-radius: @val 0 0 @val;
	}
}