#text {
	.center() {
		.x() {
			text-align: center;
		}

		.y() {
			vertical-align: middle;
		}

		.xy() {
			text-align: center;
			vertical-align: middle;
		}
		
	}

	.top() {
		vertical-align: top;
	}

	.right() {
		text-align: right;
	}

	.bottom() {
		vertical-align: bottom;
	}

	.left() {
		text-align: left;
	}

	.justify() {
		text-align: justify;
	}
}