// Positioning
#pos {
	.up(@up: 0) {
		top: @up;
	}

	.right(@right: 0) {
		right: 0;
	}

	.down(@down: 0) {
		bottom: @down;
	}
	
	.left(@left: 0) {
		left: @left;
	}

	.c() {
		left: 50%;
		top: 50%;
		#xf.xlate(-50%, -50%);
	}
}