.putout(@to; @mod: 0) {
	.ab();
	@{to}: calc(~"100%" + @mod);
}

.putout() {
	.t(@mod: 0) {
		.ab();
		bottom: calc(~"100%" + @mod); 
	}
	.r(@mod: 0) {
		.ab();
		right: calc(~"100%" + @mod); 
	}
	.b(@mod: 0) {
		.ab();
		top: calc(~"100%" + @mod); 
	}
	.l(@mod: 0) {
		.ab();
		left: calc(~"100%" + @mod); 
	}
}