/*
 * Outer Positioning
 * Outer placement from parent
 * params
 *		@mod: <length> Distance from parent border
 * */
#pos {
	// Align element top to parent bottom
	.under(@mod: 0) {
		top: calc(~"100%" + @mod); 
	}
	// Align element bottom to parent top
	.over(@mod: 0) {
		bottom: calc(~"100%" + @mod); 
	}
	// Align element right side to parent left
	.lead(@mod: 0) {
		right: calc(~"100%" + @mod); 
	}
	// Align element left to parent right
	.trail(@mod: 0) {
		left: calc(~"100%" + @mod); 
	}
}