.ani(@name; @dur; @tf) {
	animation: @arguments;
}

.ani(@name; @dur; @tf; @delay) {
	animation: @arguments;
}

.ani(@name; @dur; @tf; @delay; @count) {
	animation: @arguments;
}

.ani(@name; @dur; @tf; @delay; @count, @dir) {
	animation: @arguments;
}

.ani(@name; @dur; @tf; @delay; @count, @dir; @fm) {
	animation: @arguments;
}

.ani(@name; @dur; @tf; @delay; @count, @dir; @fm; @ps) {
	animation: @arguments;
}

#ani {
	
	.name(@s) {
		animation-name: @s;
	}

	.duration(@len) {
		animation-duration: @len;
	}

	.delay(@len) {
		animation-delay: @len;
	}

	.count(@i) {
		animation-iteration-count: @i;
	}

	.direction(@i) {
		animation-iteration-count: @i;
	}
}