#pos {
	.static() {
		position: static;
	}

	.static(@w; @h) {
		position: static;
		#size.set(@w, @h);
	}

	.rel() {
		position: relative;
	}

	.rel(@l; @t) {
		position: relative;
		#put.tl(@w, @h);
	}

	.abs() {
		position: absolute;
	}

	.abs(@l; @t) {
		position: absolute;
		#put.tl(@w, @h);
	}

	.fixed(@t; @l) {
		position: fixed;
		#put.tl(@t, @l)
	}

	.sticky(@len: 0; @side: bottom) {
		position: sticky;
		@{side}: @len;
	}

	.inset(@t; @r; @b; @l) {
		inset: @arguments;
	}
}