#flex {
	.row(@il: false; @rev: false) {
		#disp.flex(@il);
		& when (@rev) {
			flex-direction: row-reverse;
		}
		
		& when not (@rev) {
			flex-direction: row;
		}
	}

	.col(@il: false; @rev: false) {
		#disp.flex(@il);
		& when (@rev) {
			flex-direction: column-reverse;
		}
		
		& when not (@rev) {
			flex-direction: column;
		}
	}
	.panel() {
		.x(@il: false; @rev: false) {
			#disp.flex(@il);
			& when (@rev) {
				flex-flow: row-reverse wrap;
			}
			
			& when not (@rev) {
				flex-flow: row wrap;
			}
		}
		
		.y(@il: false; @rev: false) {
			#disp.flex(@il);
			& when (@rev) {
				flex-flow: column-reverse wrap;
			}
			
			& when not (@rev) {
				flex-flow: column wrap;
			}
		}
	}

	.gap(@gap: 0; @pad: false) when (@gap > 0) {
		gap: @gap;

		& when (@pad) {
			.pad(@gap);
		}
	}
}

