#disp {
	.none() {
		display: none;
	}

	.block(@inline: false) {
		#disp.inline(block, @inline);
	}
	
	.flex(@inline: false) {
		#disp.inline(flex, @inline);
	}

	.inline() {
		display: inline;
	}

	.inline(@disptype; @inline: false) {
		& when (@inline) {
			display: ~"inline-@{disptype}";
		} 

		& when not(@inline) {
			display: @disptype;
		}
	}
}