#gf {
	.circle(@stoplist) {
		@gf: radial-gradient(circle, @stoplist);
	}

	.circle(@stoplist; @ext) {
		@gf: radial-gradient(circle @ext, @stoplist);
	}

	.circle(@stoplist; @ext; @origin) {
		@gf: radial-gradient(circle @ext at @origin, @stoplist);
	}

	.circle-r(@stoplist) {
		@gf: repeating-radial-gradient(circle, @stoplist);
	}

	.circle-r(@stoplist; @ext) {
		@gf: repeating-radial-gradient(circle @ext, @stoplist);
	}

	.circle-r(@stoplist; @ext; @origin) {
		@gf: repeating-radial-gradient(circle @ext at @origin, @stoplist);
	} 
}