#gf {
	.conic(@cs) {
		@gf: conic-gradient(@cs);
	}

	.conic(@cs; @start) {
		@gf: conic-gradient(from @start, @cs);
	}

	.conic(@cs; @start; @origin) {
		@gf: conic-gradient(from @start at @origin, @cp);
	}

	.conic-r(@cs) {
		@gf: repeating-conic-gradient(@cs);
	}

	.conic-r(@cs; @start) {
		@gf: repeating-conic-gradient(from @start, @cs);
	}

	.conic-r(@cs; @start; @origin) {
		@gf: repeating-conic-gradient(from @start at @origin, @cp);
	}
}
