#gf {
	.ellipse(@colorstop) {
		@gf: radial-gradient(ellipse, @colorstop);
	}

	.ellipse(@colorstop; @ext) {
		@gf: radial-gradient(ellipse @ext, @colorstop);
	}

	.ellipse(@colorstop; @ext; @ctr) {
		@gf: radial-gradient(ellipse @extent at @ctr, @colorstop);
	}

	.ellipse-r(@colorstop) {
		@gf: repeating-radial-gradient(ellipse, @colorstop);
	}

	.ellipse-r(@colorstop; @ext) {
		@gf: repeating-radial-gradient(ellipse @ext, @colorstop);
	}

	.ellipse-r(@colorstop; @ext; @ctr) {
		@gf: repeating-radial-gradient(ellipse @extent at @ctr, @colorstop);
	}
}
