#gf {

	.linear(@cs; @angle: 180deg) {
		@gf: linear-gradient(@angle, @cs);
	}

	.up(@cs) {
		@gf: linear-gradient(0deg, @cs);
	}

	.right(@cs) {
		@gf: linear-gradient(90deg, @cs);
	}

	.down(@cs) {
		@gf: linear-gradient(180deg, @cs);
	}

	.left(@cs) {
		@gf: linear-gradient(270deg, @cs);
	}

	.linear-r(@cs; @angle: 180deg) {
		@gf: repeating-linear-gradient(@angle, @cs);
	}
}