#swx {
	.span() {
		.x(@gap: 0; @pad: 0) {
			#flex.row();
			#flex.gap(@gap, @pad);
			flex: 1;
		}

		.x() {

			.center(@gap: 0; @pad: 0) {
				#flex.row.auto(@gap, @pad);
				#jc.c();
				#ai.c();
				
			}

			.fs-c(@gap: 0; @pad: 0) {
				#flex.row.auto(@gap, @pad);
				#ai.c();
			}

			.stretch(@gap: 0; @pad: 0) {
				#flex.row.auto(@gap, @pad);
				#jc.str();
			}

			.even(@pad: 0) {
				#flex.row.auto(0, @pad);
				#jc.se();
			}

			.around(@pad: 0) {
				#flex.row.auto(@gap, @pad);
				#jc.sa();
			}

			.between(@pad: 0) {
				#flex.row.auto(@gap, @pad);
				#jc.sb();
			}
			
			.split(@nth; @gap: 0; @pad: 0) {
				&:nth-child(@{nth}) {
					margin-left: auto;
				}
				#flex.gap(@gap, @pad);
				flex: auto;
			}
		}
	}
}