#border {
	.set(@clr; @size: 1px; @style: solid) {
		border: @size @style @clr;
	}

	.top(@clr; @size: 1px; @style: solid) {
		border-top: @size @style @clr;
	}

	.right(@clr; @size: 1px; @style: solid) {
		border-right: @size @style @clr;
	}

	.bottom(@clr; @size: 1px; @style: solid) {
		border-bottom: @size @style @clr;
	}

	.left(@clr; @size: 1px; @style: solid) {
		border-left: @size @style @clr;
	}
}