#xi {
	.skew(@x: 0deg; @y: 0deg) {
		#xf.set(skew(@x, @y));
		transition: transform @dur @tf;
	}

	.skew() {
		.x(@x: 0deg) {
			#xf.set(skewX(@x));
			transition: transform @dur @tf;
		}
		
		.y(@y: 0deg) {
			#xf.set(skewY(@y));
			transition: transform @dur @tf;
		}
	}
}