
#xi {
	
	.scale(@v; @dur: 200ms; @tf: linear) {
		#xf.scale(@v, @v);
		transition: transform @dur @tf;
	}

	.scale(@x; @y; @dur: 200ms; @tf: linear) {
		#xf.scale(@x, @y);
		transition: transform @dur @tf;
	}

	.scale() {
		.x(@v; @dur: 200ms; @tf: linear) {
			#xf.scale.x(@v);
			transition: transform @dur @tf;
		}
		.y(@v; @dur: 200ms; @tf: linear) {
			#xf.scale.y(@v);
			transition: transform @dur @tf;
		}
		.z(@v; @dur: 200ms; @tf: linear) {
			#xf.scale.z(@v);
			transition: transform @dur @tf;
		}
		._3d(@v; @dur: 200ms; @tf: linear) {
			#xf.scale._3d(@x: 1; @y: 1; @z: 1);
			transition: transform @dur @tf;
		}
		
	}
}