#xi {

	.rotate(@deg; @dur: 200ms; @tf: linear) {
		#xf.rotate(@deg);
		transition: transform @dur @tf;
	}

	.rotate() {
		.x(@x: 1) {
			#xf.rotate(rotateX(@x));
			transition: transform @dur @tf;
		}
		
		.y(@y: 1) {
			#xf.rotate(rotateY(@y));
			transition: transform @dur @tf;
		}
		
		.z(@z: 1) {
			#xf.rotate(rotateZ(@z));
			transition: transform @dur @tf;
		}
		._3d(@x: 0; @y: 0; @z: 0; @deg: 0) {
			#xf.rotate(rotate3d(@arguments));
			transition: transform @dur @tf;
		}
	}
}