#xi {
	.xlate(@x; @y) {
		#xf.set(translate(@x, @y));
		transition: transform @dur @tf;
	}

	.xlate() {
		.x(@x; @dur; @tf) {
			#xf.set(translateX(@x));
			transition: transform @dur @tf;
		}
		
		.y(@y; @dur; @tf) {
			#xf.set(translateY(@y));
			transition: transform @dur @tf;
		}
		
		.z(@z; @dur; @tf) {
			#xf.set(translateZ(@z));
			transition: transform @dur @tf;
		}
		
		._3d(@x; @y; @z; @dur; @tf) {
			#xf.set(translate3d(@x, @y, @z));
			transition: transform @dur @tf;
		}
	}
}