#disp {

	.none() {
		display: none;
	}

	.block(@il: false) {
		#disp.inline(block, @il);
	}

	.grid(@il: false) {
		#disp.inline(grid, @il);
	}

	.flex(@il: false) {
		#disp.inline(flex, @il);
	}

	.flow-root() {
		display: flow-root;
	}

	.listitem() {
		display: list-item;
	}

	.inline(@dt; @il: false) {
		& when (@il) {
			display: ~"inline-@{dt}";
		} 

		& when not(@il) {
			display: @dt;
		}
	}
}