#disp {

	.none() {
		display: none;
	}

	.block(@inline: false) {
		#disp.inline(block, @inline);
	}

	.grid(@inline: false) {
		#disp.inline(grid, @inline);
	}

	.flex(@inline: false) {
		#disp.inline(flex, @inline);
	}

	.flow-root() {
		display: flow-root;
	}

	.listitem() {
		display: list-item;
	}

	.inline(@disptype; @inline: false) {
		& when (@inline) {
			display: ~"inline-@{disptype}";
		} 

		& when not(@inline) {
			display: @disptype;
		}
	}
}