#flex {

	.basis(@val) {
		flex-basis: @val;
	}

	.auto() {
		flex-basis: auto;
	}

	.content() {

		.min() {
			flex-basis: min-content;
		}

		.max() {
			flex-basis: max-content;
		}

		.fit() {
			flex-basis: fit-content;
		}
	}
}