#flex {
	.row(@inline: false; @rev: false) {
		#disp.flex(@inline);
		& when (@rev) {
			flex-direction: row-reverse;
		}
		
		& when not (@rev) {
			flex-direction: row;
		}
	}
	.row()  {
		.auto(@gap: 0; @pad: 0) {
			display: flex;
			#flex.gap(@gap, @pad);
			flex: auto;
		}
	}
}