#gf {
	.lg() {
		.up(@cs) {
			@gf: linear-gradient(0deg, @cs);
		}
	
		.right(@cs) {
			@gf: linear-gradient(90deg, @cs);
		}
	
		.down(@cs) {
			@gf: linear-gradient(180deg, @cs);
		}
	
		.left(@cs) {
			@gf: linear-gradient(270deg, @cs);
		}

		.tr(@cs) {
			@gf: linear-gradient(45deg, @cs);
		}

		.br(@cs) {
			@gf: linear-gradient(135deg, @cs);
		}

		.bl(@cs) {
			@gf: linear-gradient(225deg, @cs);
		}

		.tr(@cs) {
			@gf: linear-gradient(315deg, @cs);
		}
	}
}