/**
 * @type:	Value Setter
 * @prop:	align-items
 * @desc:	for grid and flexbox
 * @use:	
 * 	#ai.auto()		-> align-items: auto;
 * 	#ai.normal()	-> align-items: normal;
 * 	#ai.fs()		-> align-items: flex-start;
 *	#ai.fe()		-> align-items: flex-end;
 *	#ai.c()			-> align-items: center;
 *	#ai.str()		-> align-items: stretch;
 *	#ai.bl()		-> align-items: baseline;
 **/

#ai {
	.auto() {
		align-items: auto;
	}
	.normal() {
		align-items: normal;
	}

	.fs() {
		align-items: flex-start;
	}

	.fe() {
		align-items: flex-end;
	}

	.c() {
		align-items: center;
	}

	.str() {
		align-items: stretch;
	}

	.bl() {
		align-items: baseline;
	}
}