/**
 * @type:	Value Setter
 * @prop:	align-self
 * @desc:	for grid and flexbox
 * @use:	
 *	.auto() 	-> align-self: auto;
 *	.normal() 	-> align-self: normal;
 *	.fs() 		-> align-self: flex-start;
 *	.fe() 		-> align-self: flex-end;
 *	.ss() 		-> align-self: self-start;
 *	.se() 		-> align-self: self-end;
 *	.str() 		-> align-self: stretch;
 *	.bl() 		-> align-self: baseline;
 **/

#as {

	.auto() {
		align-self: auto;
	}

	.normal() {
		align-self: normal;
	}

	.fs() {
		align-self: flex-start;
	}

	.fe() {
		align-self: flex-end;
	}
	
	.ss() {
		align-self: self-start;
	}

	.se() {
		align-self: self-end;
	}

	.str() {
		align-self: stretch;
	}

	.bl() {
		align-self: baseline;
	}
}

