/**
 * @type:	Value Setter
 * @prop:	justify-content
 * @desc:	for grid and flexbox
 * @use:
 * 	.normal() 	-> justify-content: normal;
 * 	.fs() 		-> justify-content: flex-start;
 * 	.fe() 		-> justify-content: flex-end;
 * 	.c() 		-> justify-content: center;
 * 	.str() 		-> justify-content: stretch;
 * 	.se() 		-> justify-content: space-evenly;
 * 	.sa() 		-> justify-content: space-around;
 * 	.sb() 		-> justify-content: space-between;
 * 	.bl() 		-> justify-content: baseline;
 **/
#jc {
	.normal() {
		justify-content: normal;
	}

	.fs() {
		justify-content: flex-start;
	}

	.fe() {
		justify-content: flex-end;
	}

	.c() {
		justify-content: center;
	}

	.str() {
		justify-content: stretch;
	}

	.se() {
		justify-content: space-evenly;
	}

	.sa() {
		justify-content: space-around;
	}

	.sb() {
		justify-content: space-between;
	}

	.bl() {
		justify-content: baseline;
	}
}