#text {
	.center() {
		.x() {
			text-align: center;
		}

		.y() {
			vertical-align: middle;
		}

		.xy() {
			text-align: center;
			vertical-align: middle;
		}
		
	}

	.right() {
		text-align: right;
	}

	.justify() {
		text-align: justify;
	}

	.top() {
		vertical-align: top;
	}

	.bottom() {
		vertical-align: bottom;
	}

	.indent(@val; @pad: false) {
		text-indent: @val;
		& when (@pad) {
			padding-right: @val;
		}
	}

	.nowrap() {
		white-space: nowrap;
	}
}