@t: transparent;

@fb-10: fade(black, 10);
@fb-20: fade(black, 20);
@fb-25: fade(black, 25);
@fb-30: fade(black, 30);
@fb-40: fade(black, 40);
@fb-50: fade(black, 50);
@fb-60: fade(black, 60);
@fb-70: fade(black, 70);
@fb-75: fade(black, 75);
@fb-80: fade(black, 80);
@fb-90: fade(black, 90);

@fw-10: fade(white, 10);
@fw-15: fade(white, 15);
@fw-20: fade(white, 20);
@fw-25: fade(white, 25);
@fw-30: fade(white, 30);
@fw-40: fade(white, 40);
@fw-50: fade(white, 50);
@fw-60: fade(white, 60);
@fw-70: fade(white, 70);
@fw-75: fade(white, 75);
@fw-80: fade(white, 80);
@fw-90: fade(white, 90);