@fw-10: fade(white, 10);
@fw-15: fade(white, 15);
@fw-20: fade(white, 20);
@fw-25: fade(white, 25);
@fw-30: fade(white, 30);
@fw-35: fade(white, 35);
@fw-40: fade(white, 40);
@fw-45: fade(white, 45);
@fw-50: fade(white, 50);
@fw-55: fade(white, 55);
@fw-60: fade(white, 60);
@fw-65: fade(white, 65);
@fw-70: fade(white, 70);
@fw-75: fade(white, 75);
@fw-80: fade(white, 80);
@fw-85: fade(white, 85);
@fw-90: fade(white, 90);
@fw-95: fade(white, 95);