@fb-10: fade(black, 10);
@fb-15: fade(black, 15);
@fb-20: fade(black, 20);
@fb-25: fade(black, 25);
@fb-30: fade(black, 30);
@fb-35: fade(black, 35);
@fb-40: fade(black, 40);
@fb-45: fade(black, 45);
@fb-50: fade(black, 50);
@fb-55: fade(black, 55);
@fb-60: fade(black, 60);
@fb-65: fade(black, 65);
@fb-70: fade(black, 70);
@fb-75: fade(black, 75);
@fb-80: fade(black, 80);
@fb-85: fade(black, 85);
@fb-90: fade(black, 90);
@fb-95: fade(black, 95);