.reset(@base: 100%) {
	a:is(:link, :visited, :local-link, :active), b, u, i, p, q, s, abbr, address, 
	article, aside, blockquote, body, button, caption, cite, code, dl, dt, dd, details, 
	dialog, div, fieldset, footer, figure, figcaption, form, h1, h2, h3, h4, h5, h6, 
	header, hgroup, html, input, label, legend, meter, nav, output, pre, progress, reset, 
	submit, select, section, span, summary, textarea, table, tbody, tfoot, thead, tr, th, 
	td, time, ul, ol, li  {
		@reset();
	}

	html {
		font-size: @base;
	}

	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	[type=number] {
		-moz-appearance: textfield;
	}

	[type="checkbox"],
	[type="radio"] {
		.bye();
	}

	:focus {
		outline: 0;
	}

	#list.strip();
}

.no-bomp {
	border: 0;
	outline: 0;
	margin: 0;
	padding: 0;
}

@reset: {
	.no-bomp();
	font-size: inherit;
	text-decoration: none;
	#box.border();
	#bg.add(@t);
}