//valueSetter: align-items
#ai {
	.normal() {
		align-items: normal;
	}

	.fs() {
		align-items: flex-start;
	}

	.fe() {
		align-items: flex-end;
	}

	.c() {
		align-items: center;
	}

	.str() {
		align-items: stretch;
	}

	.bl() {
		align-items: baseline;
	}
}