.size(@s) {
	height: @s;
	width: @s;
}

.size(@w; @h) {
	height: @h;
	width: @w;
}

.size() {
	.none() {
		height: 0;
		width: 0;
	}

	.vh100() {
		height: 100vh;
	}
	
	.range() {
		.x(@min; @max) {
			min-width: @min;
			max-width: @max;
		}

		.y(@min; @max) {
			min-height: @min;
			max-height: @max;
		}
	}
}
