#gf {
	.circle(@stoplist) {
		@gf: radial-gradient(circle, @stoplist);
	}

	.circle(@stoplist; @ext) {
		@gf: radial-gradient(circle @ext, @stoplist);
	}

	.circle(@stoplist; @ext; @origin) {
		@gf: radial-gradient(circle @ext at @origin, @stoplist);
	}

	.circle() {
		.rep(@stoplist) {
			@gf: repeating-radial-gradient(circle, @stoplist);
		}
	
		.rep(@stoplist; @ext) {
			@gf: repeating-radial-gradient(circle @ext, @stoplist);
		}
	
		.rep(@stoplist; @ext; @origin) {
			@gf: repeating-radial-gradient(circle @ext at @origin, @stoplist);
		} 
	}

	
}