#bdr {
	.set(@clr; @size: 1px; @style: solid) {
		border: @size @style @clr;
	}

	.l(@clr; @size: 1px; @style: solid) {
		border-left: @size @style @clr;
	}

	.t(@clr; @size: 1px; @style: solid) {
		border-top: @size @style @clr;
	}

	.r(@clr; @size: 1px; @style: solid) {
		border-right: @size @style @clr;
	}

	.b(@clr; @size: 1px; @style: solid) {
		border-bottom: @size @style @clr;
	}

	//TODO: Move to setters/table.less

	.collapse() {
		border-collapse: collapse;
	}

	.space(@x) {
		border-spacing: @x;
	}

	.space(@x; @y) {
		border-spacing: @x @y;
	}
}