.pad(@v: 0) {
	padding: @v;
}

#pad {
	.none() {
		padding: 0;
	}
	
	.top(@v) {
		padding-top: @v;
	}

	.right(@v) {
		padding-right: @v;
	}

	.bottom(@v) {
		padding-bottom: @v;
	}

	.left(@v) {
		padding-left: @v;
	}

	.x(@v) {
		padding: @v 0;
	}

	.y(@v) {
		padding: 0 @v;
	}
}