
/*
*
* File: align.self.less
* Date: 10Jul2022
* Code: W. Anthony Orr
* Desc: Value setters for align-self
*/

#as {

	.auto() {
		align-self: auto;
	}

	.normal() {
		align-self: normal;
	}

	.fs() {
		align-self: flex-start;
	}

	.fe() {
		align-self: flex-end;
	}
	
	.ss() {
		align-self: self-start;
	}

	.se() {
		align-self: self-end;
	}

	.str() {
		align-self: stretch;
	}

	.bl() {
		align-self: baseline;
	}
}