
/*
*
* File: align.items.less
* Date: 10Jul2022
* Code: W. Anthony Orr
* Desc: Value setters for align-items 
*/

#ai {
	
	.normal() {
		align-items: normal;
	}

	.fs() {
		align-items: flex-start;
	}

	.fe() {
		align-items: flex-end;
	}

	.c() {
		align-items: center;
	}

	.str() {
		align-items: stretch;
	}

	.bl() {
		align-items: baseline;
	}
}