
/*
*
* File: align.content.less
* Date: 10Jul2022
* Code: W. Anthony Orr
* Desc: Value setters for align-content 
*/

#ac {

	.normal() {
		align-content: normal;
	}
	
	.fs() {
		align-content: flex-start;
	}

	.fe() {
		align-content: flex-end;
	}

	.c() {
		align-content: center;
	}

	.str() {
		align-content: stretch;
	}

	.se() {
		align-content: space-evenly;
	}

	.sa() {
		align-content: space-around;
	}

	.sb() {
		align-content: space-between;
	}

	.bl() {
		align-content: baseline;
	}
}