
@xfo: {
	t: #xf.origin(50%, 0);
	tr: #xf.origin(100%, 0);
	r: #xf.origin(100%, 50%);
	br: #xf.origin(100%, 100%);
	b: #xf.origin(50%, 100%);
	bl: #xf.origin(0%, 100%);
	l: #xf.origin(0, 50%);
	tl: #xf.origin(0, 0);
	c: #xf.origin(50%, 50%);
}