#pos {
	.fixed() {
		.top(@v: 0) {
			position: fixed;
			top: @v;
		}

		.right(@v: 0) {
			position: fixed;
			right: @v;
		}
		
		.bottom(@v: 0) {
			position: fixed;
			bottom: @v;
		}
		
		.left(@v: 0) {
			position: fixed;
			left: @v;
		}
	}
}