#pos {
	.fixed() {
		position: fixed;
	}

	.fixed() {
		.t(@v: 0) {
			position: fixed;
			top: @v;
		}

		.r(@v: 0) {
			position: fixed;
			right: @v;
		}
		.b(@v: 0) {
			position: fixed;
			bottom: @v;
		}
		.l(@v: 0) {
			position: fixed;
			left: @v;
		}
		
	}
}