@import (reference) "lesslib/export.less";

@c1: red;
@c2: green;
@bg-s: 200% 200%;
@bg-p: 100% 100%;

.lighten { 
	#bgl.lighten(@c1, 15);
}

.darken { 
	#bgl.darken(@c1, 15);
}

.spin { 
	#bgl.spin(@c1, 15);
}

.sat { 
	#bgl.sat(@c1, 15);
}

.concave { 
	#bgl.concave(@c1);
}

.convex { 
	#bgl.convex(@c1);
}


