#bg {
	.lg() {
		.lighten(@clr; @amt: 10; @angle: @from[t]) {
			@cs: lighten(@clr, @amt), @clr;
			background+: #gf.linear(@cs; @angle)[];
		}

		.darken(@clr; @amt: 10; @angle: @from[t]) {
			@cs: @clr, darken(@clr, @amt);
			background+: #gf.linear(@cs; @angle)[];
		}

		.concave(@clr; @amt: 10; @angle: @from[t]) {
			@cs: #cs.concave(@clr, @amt)[];
			background+: #gf.linear(@cs; @angle)[];
		}

		.convex(@clr; @amt: 10; @angle: @from[t]) {
			@cs: #cs.convex(@clr, @amt)[];
			background+: #gf.linear(@cs; @angle)[];
		}

		.glossy(@clr; @angle: @from[t]) {
			@cs: #cs.gloss(@clr)[];
			background+: #gf.linear(@cs; @angle)[];
		}
	}
}