.pad(@v: 0) {
	padding: @v;
}

#pad {
	.none() {
		padding: 0;
	}
	
	.x(@v) {
		padding: @v 0;
	}

	.y(@v) {
		padding: 0 @v;
	}

	.t(@v) {
		padding-top: @v;
	}

	.r(@v) {
		padding-right: @v;
	}

	.b(@v) {
		padding-bottom: @v;
	}

	.l(@v) {
		padding-left: @v;
	}
}